name: Continuous Integration
on:
  push:
    branches:
    - "**"
    paths-ignore:
      - "**.md"
      - "docs/**"
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - id: setup-go
        name: Setup GO
        uses: actions/setup-go@v4
        with:
            go-version: ^1
      - name: Go fmt
        run: test -z $(gofmt -l .)
        shell: bash
      - name: Go fmt-diff
        if: failure()
        run: gofmt -e -d .
        shell: bash
      - name: Go vet
        if: success() || failure() # runs everytime except the job is canceled
        run: go vet ./...
        shell: bash
      - name: Golangci lint
        uses: golangci/golangci-lint-action@v3
        if: success() || failure() # runs everytime except the job is canceled
        with:
          skip-pkg-cache: true
          args: --timeout=1m

  test-linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - id: setup-go
        name: Setup GO
        uses: actions/setup-go@v4
        with:
            go-version: ^1
      - name: Unit test
        run: go test ./...

  test-windows:
    name: Test on Windows
    runs-on: windows-latest
    timeout-minutes: 10
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - id: setup-go
        name: Setup GO
        uses: actions/setup-go@v4
        with:
          go-version: ^1
      - name: Unit test
        run: go test ./...

  example:
    name: Example
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Clone
        uses: actions/checkout@v3
      - id: setup-go
        name: Setup GO
        uses: actions/setup-go@v4
        with:
          go-version: ^1
      - name: Run example
        working-directory: ./example
        run: ./run.sh
